#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Center the participant videos horizontally */
  align-items: flex-start; /* Align the participant videos to the top */
  flex-wrap: wrap; /* Allow participant divs to wrap onto the next line if space runs out */
  gap: 20px; /* Space between participant videos */
}

.instructions {
  font-size: 16px;
  margin-top: 10px;
  color: #7e7e7e;
  text-align: left;
}

h3 {
  color: #7e7e7e;
}

.participant {
  flex-basis: 47%; /* Adjusted for side-by-side view */
  max-width: 47%; /* Adjusted for side-by-side view */
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.participant:last-child {
  margin-right: 0;
}

.participant video {
  width: 100%; /* Makes video fill the container */
  height: auto; /* Keeps the aspect ratio of the video */
}

/* Center the room name input form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Style the room name input field */
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Style the join button */
button[type="submit"] {
  background-color: #251633;
  color: #b6b6b6;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the join button on hover */
button[type="submit"]:hover {
  background-color: #6d4195;
}

/* Translucent banner for participants */
.translucent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center; /* Center the disconnect button text */
}

button.disconnect-button {
  background-color: #ff0000; /* Red background */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .participant {
    flex-basis: 100%; /* Each participant takes up the full container width on smaller screens */
    max-width: 100%; /* Ensure the max-width matches flex-basis */
  }
}